<div class="container">
  <h1><%= @user.username %></h1>
  <form action="/users/<%= @user.id %>/follow" method="post">
    <input type="submit" value="follow" />
  </form>
  <p><%= @user.user_bio %></p>
  <img src="<%=@user.user_bio_picture%>">
  <% @tweets.each do |tweet| %>
  <p><%= tweet.content %></p>
    <% end %>
</div>
