<div class="container">
  <div class="bio">
    <h1 class="username"><%= @user.username %></h1>
    <form action="/users/<%= @user.id %>/follow" method="post">
      <input type="submit" value="follow" />
    </form>
    <p>Bio: <%= @user.user_bio %></p>
      <div class="img_resize">
        <img src="<%=@user.user_bio_picture%>">
      </div>
    <form action="/users/<%= @user.id%>/edit" method="get">
      <input type="submit" value="Edit Profile">
    </form>
  </div>
  <div>
    <% @tweets.each do |tweet| %>
    <div class="tweet_username">
      <div class="tweet"><%= tweet.content %></div>
    </div>
      <% end %>
</div>
